<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE> ZTREE DEMO - Simple Data</TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/static/css/demo.css" type="text/css">
	<link rel="stylesheet" href="/static/css/zTreeStyle.css" type="text/css">

	<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ztree.core.js"></script>
 </HEAD>

<script lang="javascript">
	var zNodes =[];

	window.onload = function () {

		var Request = GetRequest();
		var username , token ;
		username = Request['username'];
		token = Request['token'];


		$.ajax({
			url: "/api/selectAll?" + 'username=' + username + '&token=' + token,
			type: "POST",
			error: function (jqXHR, textStatus, errorThrown) {
				if (textStatus == "error") {
					alert(textStatus + " : " + errorThrown);
				} else {
					alert(textStatus);
				}
			},
			success: function (body, textStatus, jqXHR){
				var data = JSON.parse(body)
				for (var i = 0; i < data.length; i++) {
					var tmp

					if ( data[i].IsFile === 1 ){
						tmp = {
							"id"   : data[i].ID ,
							"name" : data[i].DocumentName ,
							"pId"  : data[i].Pid,
							"leaf" : true
						}
					}else{
						tmp = {
							"id"   : data[i].ID,
							"name" : data[i].DocumentName ,
							"pId"  : data[i].Pid,
							"isParent": true
						}
					}

					zNodes.push( tmp )
				}
				updateFileList();
			}
		});
	}

	function updateFileList() {
		var setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				onClick: zTreeOnClick
			},
		};

		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		});
	}
	function zTreeOnClick(event, treeId, treeNode) {

		// alert(treeNode.id + ", " + treeNode.name + " , " + treeNode.pId );
		document.getElementById("fileName").value = treeNode.name;
		document.getElementById("ID").value = treeNode.id ;
		document.getElementById("Pid").value = treeNode.pId;


	};
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串
		var theRequest = new Object();
		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			strs = str.split("&");
			for(var i = 0; i < strs.length; i ++) {
				theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
			}
		}
		return theRequest;
	}

</script>
<BODY>
<h1> 文件目录 </h1>
<div class="content_wrap">
	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
	<div class="form-group">

		<label for="ID">ID：</label>
		<input type="text" class="form-control" id="ID" placeholder="ID...">
		<br>


		<label for="fileName">名称：</label>
		<input type="text" class="form-control" id="fileName" placeholder="文件路径...">
		<br>

		<label for="Pid">PID：</label>
		<input type="text" class="form-control" id="Pid" placeholder="PID...">
		<br>
	</div>
</div>
</BODY>
</HTML>